<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<form method="post" id="form_main">
    <div class="form-group">
        <h2><label for="">Enter the name of the product</label></h2>
        <input name="text_field" class="form-control"
               placeholder="like Iphone 7 , macbook ... ">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


    {% block data_new %}

    {% endblock %}
</form>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
        integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
        crossorigin="anonymous"></script>
</html>