<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>main</title>
    <!--{% load static %}-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: rgba(255,255,255,0.4)">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user_name %}
            <li class="nav-item active">
                <a class="nav-link" href="/show">show_data <span
                        class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">Api</a>
            </li>
        </ul>
        {% if user_name %}
        {% include "form.html" %}
        {% else %}
        <a href="/">

            <button>login</button>
        </a>
        {% endif %}
    </div>
    {% if user_name %}
    <a href="/logout">

        <button>logout/{{user_name}}</button>
    </a>
    {% endif %}
</nav>
{% block data %}
{% block data_new %}
<div class="container"
     style="background-color: rgba(255,255,255,0.2); padding: 200px 0px; margin-top:150px;">
    <div class="form" align="center">
        <h2 style="color: #fff">Enter the Name of the product</h2>
        <form method="post" id="search">{% csrf_token %}
            <input name="text_field" type="search"
                   placeholder="Search ... Iphone"
                   aria-label="Search"><br>

            <button class="btn btn-outline-success " type="submit">Search
            </button>
            {% if error %}
            <p style="color: #fff">{{error}}</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
{% endblock %}
<!--<img src="{% static '/wallpaper.jpg' %}">-->
</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
        integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
        crossorigin="anonymous"></script>
<!--<script src="{% static 'js/tabs.js' %}"></script>-->

</html>